body {
    background-color: hsl(233, 47%, 7%);
}

.card {
    margin: 100px;
    background-color: rgb(27, 25, 56);
    width: 500px;
    /* text-indent: 20%; */
    padding: auto;
}

.title {
    color: white;
    /* text-align: center; */
    /* text-overflow: ellipsis; */
    max-width: 400px;
    padding-top: 8px;
    padding-left: 90px;
    font-family: 'Inter', sans-serif;
}

.paragraph {
    max-width: 400px;
    padding-left: 90px;
}

#insight {
    color: hsl(277, 64%, 61%);
}